@charset "UTF-8";

@use "settings/_index" as *; // 設定

/**************************************************/
/* base */
/**************************************************/

//==================================================
// Body
//==================================================

:root {
  font-size: 1px * $baseFontSize; // 1px * $baseFontSize;
  // --main-color: #{$mainColor};
  // --scroll-bar-width: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  background-color: $baseColor;
}

body {
  @include baseFontFamily;
  min-width: 375px;
  padding: 0px;
  color: $fontColor;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  &.-fixed {
    position: fixed; width: 100%; height: 100%;
  }
}

input,
textarea {
  font-size: 16px;
}


//==================================================
// Elements
//==================================================

input,
textarea,
select,
button {
  @include baseFontFamily;
}

input,
textarea,
select,
button,
optgroup {
  //padding: 0.5em 0.5em;
  //border: solid 1px $grayC;
  //border-radius: 3px;
}

button,
input[type="button"],
input[type="submit"] {
  @include hoverOpacity;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  // color: $linkColor;
  text-decoration: underline;
  @include hoverOpacity;
  &:hover {
    text-decoration: none;
  }
}

body._ios a:hover {
  opacity: 1;
}

em {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, dl {
  //margin: 0; padding: 0;
}

ul, ol {
  //margin: 0;
}

p {
  //margin: 1em 0 0; line-height: 2;
}

//==================================================
// base.js
//==================================================

// 電話番号
a.-telink,
a.js-telink {
  cursor: default; opacity: 1 !important;
}

// iOS バグフィックス
body._ios a:hover {
  opacity: 1;
}
