@charset "UTF-8";

@use "sass:color";
@use "sass:map";
@use "sass:math";

//**************************************************
// constants 定数やフォントを定義
//**************************************************

//==================================================
// Viewport
//==================================================

// コンテンツ幅
$contentWidth: 1000px;

// 左右の余白
$contentPadding: 20px;
$contentPadding-md: 15px;

//==================================================
// BreakPoint
//==================================================

$breakPoint-cw: $contentWidth + ($contentPadding * 2) - 1;

$breakPoint-xl: 1280px - 1;
$breakPoint-lg: $breakPoint-cw; // 1024px - 1;
$breakPoint-md: 768px - 1;
$breakPoint-sm: 600px - 1;
// $breakPoint-xs: 480px - 1;

// Header の高さ
$headerHeight: 80px;
$headerHeightSP: 56px;

//==================================================
// Colors
//==================================================

// パレット
$colors: (
  "black": #000,
  "white": #fff,
  "grayf1": #F1F1F1,
  "gray1": #111,
  "gray2": #222,
  "gray3": #333,
  "gray4": #444,
  "gray5": #555,
  "gray6": #666,
  "gray7": #777,
  "gray8": #888,
  "gray9": #999,
  "grayA": #AAA,
  "grayB": #BBB,
  "grayC": #CCC,
  "grayD": #DDD,
  "grayE": #EEE,
  "gray1A": #1A1A1A,
  "gray4A": #4A4A4A,
  "gray70": #707070,

  // 赤
  "red": #DE0010,
  "signalRed": #FE0032,
  "mazenta": #D00F31,
  "empireRed": #D60000,
  "pink": #E81A74,
  "orange": #FF701A,
  "yellow": #FFEA00,
  "cleam": #FFFCDD,

  // 青
  "blue": #005EAD,
  "lightblue": #03B3D2,
  "lightblue2": #2bbde3,

  "green": #2B9B4B

);
//.color { color: map.get($colors, "black"); }


//無彩色
$black: map.get($colors, "black");
$white: map.get($colors, "white");
$grayf1: map.get($colors, "grayf1");
$gray1: map.get($colors, "gray1");
$gray2: map.get($colors, "gray2");
$gray3: map.get($colors, "gray3");
$gray4: map.get($colors, "gray4");
$gray5: map.get($colors, "gray5");
$gray6: map.get($colors, "gray6");
$gray7: map.get($colors, "gray7");
$gray8: map.get($colors, "gray8");
$gray9: map.get($colors, "gray9");
$grayA: map.get($colors, "grayA");
$grayB: map.get($colors, "grayB");
$grayC: map.get($colors, "grayC");
$grayD: map.get($colors, "grayD");
$grayE: map.get($colors, "grayE");
$gray1A: map.get($colors, "gray1A");


// 色味のあるグレー
// $grayish: #f3f6f9;

// 赤系
$red: map.get($colors, "red");
$signalRed: map.get($colors, "signalRed");
$mazenta: map.get($colors, "mazenta");
$empireRed: map.get($colors, "empireRed");
$pink: map.get($colors, "pink");
$brown: map.get($colors, "brown");
$darkbrown: map.get($colors, "darkbrown");
$orange: map.get($colors, "orange");
$yellow: map.get($colors, "yellow");
$cleam: map.get($colors, "cleam");

$blue: map.get($colors, "blue");
$lightblue: map.get($colors, "lightblue");

// $dark: $gray1; //黒
// $light: $white; //白

$aupay: $orange;
$dbarai: $gray3;
$paypay: #EF002F;
$rakutenpay: $empireRed;
$ieonpay: #B50081; 

//==================================================
// テーマ
//==================================================

$baseColor: map.get($colors, "white"); // background-color
$mainColor: map.get($colors, "green");
$accentColor: map.get($colors, "yellow");
$alertColor: map.get($colors, "black"); //警告

// 文字色
$fontColor: map.get($colors, "black"); // 文字色
$linkColor: map.get($colors, "pink"); // テキストリンク

// その他
$fbColor: #3b5998;    //Facebook
$twColor: #55acee;    //Twitter
$instaColor: #966842; //Instagram


$themeColors: (
  "mainColor": $mainColor,
  // "accentColor": $accentColor,
  "fontColor": $fontColor,
  "linkColor": $linkColor,
  "alertColor": $alertColor
);
//.color { color: map.get($colors, "mainColor"); }


//==================================================
// font
//==================================================

//ヒラギノ
$Hiragino: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ ProN",
           "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3","ヒラギノ角ゴ Pro",
           "Hiragino Sans";
$HiraginoMin: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN";

//游ゴシック
$YuGothic: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic";
$YuMin: "游明朝", YuMincho, "游明朝体", "Yu Mincho";

//noto
$NotoSansJP: "Noto Sans JP", "Noto Sans CJK JP";
$NotoSerifJP: "Noto Serif JP";

// zen maru ゴシック
$ZenMaruGothic: "Zen Maru Gothic";

//Yaku Han JP
$YakuHanJP: YakuHanJP_Noto;
$YakuHanMP: YakuHanMP_Noto;

//----------------------------------------

// サイズ
$baseFontSize: 16;

// font family
$baseFonts: $NotoSansJP, $Hiragino, $YuGothic, 'メイリオ', Meiryo, sans-serif;
$subFonts: $ZenMaruGothic, sans-serif;


//==================================================
// Easing
//==================================================

// Custom easing functions.
// http://easings.net/ja
// http://webdesign-dackel.com/2015/04/04/sass-easing-variables/

// sine
$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

// quad
$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

// cubic
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);

// quart
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);

// quint
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

// expo
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);

// circ
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);

// back
$ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
