@charset "UTF-8";

@use "sass:color";
@use "sass:map";
@use "sass:math";
@use "_constants" as global; // 設定

//**************************************************
// functions
//**************************************************

// convert to unit
//----------------------------------------

// vw
@function vw($target, $baseWidth: 375) {
  $vw: math.div($target, $baseWidth);
  @return $vw * 100vw;
}

// rem
@function rem($px, $context: 16) {
  @if (unitless($px)) {
    $px: $px * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return math.div($px, $context) * 1rem;
}

// em
@function em($px, $context: 16) {
  @if (unitless($px)) {
    $px: $px * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return math.div($px, $context) * 1em;
}


//**************************************************
// mixins
//**************************************************

// font-family
//----------------------------------------

// font-feature-settings
// "pwid": プロポーショナル字形（文字ごとに幅を設定した字形）
// "palt": プロポーショナルメトリクス（自動文字詰め）
// "pkna": プロポーショナルかな

@mixin baseFontFamily($_font:"") {
  // font-feature-settings : "palt";
  @if $_font {
    font-family: $_font, global.$baseFonts;
  } @else {
    font-family: global.$baseFonts;
  }
}

@mixin subFontFamily($_font:"") {
  // font-feature-settings : "palt";
  @if $_font {
    font-family: $_font, global.$subFonts;
  } @else {
    font-family: global.$subFonts;
  }
}

// スクロールバーを非表示
@mixin hideScrollbar {
  scrollbar-width: none; //Firefox
  -ms-overflow-style: none; // IE, Edge
  &::-webkit-scrollbar { display:none; } // Chrome, Safari
}

//========================================
// Common
//========================================

// フォントサイズ
@mixin fontSize($_fontSize, $_base: global.$baseFontSize, $_fontUnit: "rem"){
  @if $_fontUnit == "rem" {
    font-size: rem($_fontSize, $_base);
  } @else {
    font-size: em($_fontSize, $_base);
  }
}

// 行間
@mixin lineHeight($_lineHeight, $_base: global.$baseFontSize){
  $lh: math.div($_lineHeight, $_base);
  line-height: math.div(round($lh * 10), 10);
}

// clearfix
@mixin clearfix(){
  zoom: 1;
  &:after{
    content: '';
    display: block;
    clear: both;
    overflow: auto; //Firefoxでmargin-bottomがmargin-topになるバグを調整
  }
}

// flexbox
@mixin flexbox($_justify-content: flex-start, $_flex-wrap: wrap){
  display: flex;
  flex-flow: row $_flex-wrap;
  justify-content: $_justify-content;
  list-style: none;
  padding-left: 0;
}

// 指定したコンテンツ幅でセンタリング
@mixin contentWidth($width: global.$contentWidth){
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
  //overflow: hidden;
}

// hover
@mixin hoverOpacity($_opacity: 0.7, $_time: 0.15s, $_easing: ease-out){
  transition: opacity $_time $_easing;
  &:hover{ opacity: $_opacity; }
}

@mixin hoverColor($_color: $linkColor, $_time: 0.15s, $_easing: ease-out){
  transition: color $_time $_easing;
  &:hover{ color: $_color; }
}

// メディアクエリ
// @mixin maxWidth($maxWidth) {
//   @media (max-width: $maxWidth) {
//     @content;
//   }
// }
// @mixin minWidth($minWidth) {
//   @media (min-width: $minWidth) {
//     @content;
//   }
// }
// @mixin minMaxWidth($minWidth, $maxWidth) {
//   @media (min-width: $minWidth) and (max-width: $maxWidth) {
//     @content;
//   }
// }

//icomoon
// @mixin icomoon($content:""){
//   vertical-align: middle;
//   font-family: 'icomoon' !important;
//   speak: none;
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;
//   /* Better Font Rendering =========== */
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   content: $content;
// }
